*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.ps-10{
    padding-left: 6rem;
}
.pe-10{
    padding-right: 6rem;
}
.c-mr-0{
margin-right: 0px;
}
.logo img{
    width: 150px;
}
.menu ul li{
    padding-right: 25px;
}
.menu ul li a{
    color: #fff;
}
.active,.menu ul li:hover a{
    color: red !important;
}
.menu ul li::after{
    content: " ";
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: red;
    display: block;
    transition: .5s;
}
.menu ul li:hover::after{
    width: 70%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: relative;
    top: 100%;
    left: 5%;
}
.text-box h1{
    font-size: 62px;
    font-weight: 700;
}
.text-box p{
    font-size: 14px;
    margin: 0px 10px;
}
.text-box a{
    color: #fff !important;
    padding: 12px 33px;
}
.hero-btn{
    border-radius: 0px !important;
    border-color: #fff;
    transition: 1s;
}
.hero-btn:hover{
    background-color: cornflowerblue;
    border: 1px solid #fff;
    color: #fff;
}

.courses{
    text-align: center;
    margin: 80px 135px;
}
.courses p{
    font-size: 14px;
    color: #777;
}
.course-content{
    padding: 15px;
    background-color: #fff3f3;
    transition: .7s;

}
.course-content h4{
    font-size: 18px;
}
.course-content p{
    text-align: justify;
    margin-top: 20px;
}
.course-content:hover{
    box-shadow:  0px 0px 10px #777;
}
    
.campus{
    text-align: center;
    margin: 0px 135px;
}
.campus-content img{
    width: 100%;
    border-radius: 5%;
}
.campus-content{
    position: relative;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5%;
    transition: 1s;

}
.layer-content h3{
    position: absolute;
    left: 30%;
    bottom: 0px;
    opacity: 0;
    transition: 1s;
    color: #fff;
}
.campus-content:hover .layer{
    background-color: #000;
    bottom: 100%;
    opacity: 0.5;

}
.campus-content:hover .layer-content h3{
    bottom: 50%;
    opacity: 2;
}


@media(max-width:540px){
    .text-box{
        top: 15%;
    }
    .header{
        min-height: 50vh;
    }
    .text-box h1{
        font-size: 20px;
      
    }
    .text-box p{
        font-size: 12px;
        margin: 0px 10px;
        text-align: justify;
    }
    .text-box a{
        color: #fff !important;
        padding: 6px 15px;
    }
    .ps-10 {
        padding-left: 2rem;
      }
      .c-ps-10{
        padding-left: 3rem;
      }
      .menu button{
        top: -10px;
        position: relative;
      }
      .menu ul{
        position: absolute;
        background-color: darkcyan;
        z-index: 2;
        width: 165px;
        right: -94px;
      }
      .menu ul li a{
        text-align: justify;
        padding-left: 40px;
      }
      .menu ul li:last-child{
        width: 0%;
      }

      .courses{
        margin: 50px 10px;
    }
    .course-content{
        margin-bottom: 20px;
    }
    .campus{
        margin: 50px 10px;
    }
    .campus-content{
        margin-bottom: 15px;
    }
}