.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.row{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.col{
    display: table-cell;
    border: 1px solid lightslategray;
}

.row-h-1{
    height: 80px;
}
.row-h-2{
    height: 50px;
}
.row-h-3{
    height: 100px;
}
.row-h-4{
    height: 90px;
}
.row-h-5{
    height: 400px;
}
.row-h-6{
    height: 30px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}
img{
    height: 80px;
    width: 100%;
    /* display: none; */
    
}
.heading-text{
    text-align: center;
    position:relative;
    bottom: 2px;
    color: white;
    background-image: url(image/tree-736885__480.jpg);
}
/* For Mobile */
@media (min-width:320px) and (max-width:480px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
    
    .d-none{
        display: none;
    }
}

/* For Tab */
@media (min-width:481px) and (max-width:767px){

}
/* For laptop or desktop */
@media (min-width:768px) and (max-width:991px){
    
}
/* for Projector */
@media (min-width:992px) and (max-width:1200px){
    
}